# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# my ignore list
.vscode/
log.txt

# Ignore everything in the build directory
/build/*

# Except the specific subdirectories
!/build/app
!/build/windows

# Ignore everything inside the specific subdirectories
/build/app/*
/build/windows/*

# Except the specific sub-subdirectories
!build/app/outputs
!build/windows/x64

# Ignore everything inside the specific sub-subdirectories
/build/app/outputs/*
/build/windows/x64/*

# Except the specific folders we want to track within the sub-subdirectories
!build/app/outputs/flutter-apk
!build/windows/x64/runner

# Ignore everything inside the specific sub-subdirectories
/build/windows/x64/runner/*

# Except the specific folders we want to track within the sub-subdirectories
!build/windows/x64/runner/Release

# Ensure all files within the keep subdirectories are tracked
!build/app/outputs/flutter-apk/**
!build/windows/x64/runner/Release/**